<div style="text-align:center">
    <br><br><br><br><br><br><br><br>
    <h1>AskPy</h1>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="input-group input-group-lg mb-3 col-10">
                <input type="text" class="form-control"  [formControl]="searchQuery" placeholder="Search" required aria-label="Search" autofocus>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="submit" (click)="onSubmit()">Search</button> <!--submitForm()-->
                </div>
            </div>
        </div>
      </div>
</div>